.detail-product{
    padding-top: 60px;
    /* margin-top: 40px; */
}

.list-img img{
    border: 2px solid var(--white-color);
}
.list-img img:hover{
    border: 2px solid var(--primary-color);
    cursor: pointer;
}



.detail-product__header h1 {
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
}

.detail-product__header-rating{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.4rem;

}
.detail-product__header-rating h2{
    margin-right: 8px;
    color: var(--primary-color);

}
.detail-product__item-rating{
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}
.detail-product__item{
    position: relative;
    padding-left: 20px;
}
.detail-product__item::after{
    content: " ";
    display: block;
    position: absolute;
    width: 1px;
    height: 25px;
    background-color: var(--border-color);
    top: -20%;
    left: 8px;
}

.detail-product__price{
    font-weight: 800;
    font-size: 2.8rem;
    color: var(--primary-color);
    padding-left: 20px;
    background-color: #F5F5F5;
    line-height: 1.6;
    margin-bottom: 40px;
}



.detail-product__info{
    font-size: 1.4rem;
}
.detail-product__info-item{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding-left: 20px;
}
.detail-product__info-label{
    margin-right: 10px;
    display: block;
    width: 20%;
    color: #757575;
}


.detail-product__info-quantity{
    display: flex;
    margin-right: 10px;
}
.detail-product__info-quantity__btn{
    outline: none;
    background-color: var(--white-color);
    border-color: var(--border-color);
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.detail-product__info-quantity__btn--reduce{
    border-right: none;
}
.detail-product__info-quantity__btn--increase{
    border-left: none;
}
.detail-product__info-quantity-recent{
    border-color: var(--border-color);
    outline: none;

}

.detail-product__button{
    padding-left: 20px;
}

.detail-product__button-buy,
.detail-product__button-cart{
    padding: 20px ;
}
.detail-product__button-cart{
    margin-right: 10px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: rgba(168,40,142,0.1);
}
.detail-product__button-buy:hover{
    background-color: rgba(168,40,142,0.9);
}
.detail-product__button-cart:hover{
    background-color: rgba(168,40,142,0.08);
}


.detail-product__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    margin-top: 25px;
}
.detail-product__footer i{
    color: var(--primary-color);
    margin-right: 5px;
    font-size: 1.4rem;
}
.detail-product__footer::after{
    content: "";
    position: absolute;
    border-top: 2px solid #F5F5F5;
    top: 10px;
    left: 5px;
    right: 5px;
}
.detail-product__footer-item{
    font-size: 1.5rem;
}





.info-product{
    margin-top: 10px; 
    background-color: white; 
    width: 1200px;
    padding: 25px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
}
.info-product h1{
    font-weight: 400;
    font-size: 1.8rem;
    padding-left: 20px;
    background-color: #F5F5F5;
    line-height: 4rem;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.info-product p{
    font-size: 1.4rem;
    line-height: 1.6;
}
.info-product img{
    margin: auto;
    display: block;
}